<a href="https://colab.research.google.com/github/jmsmg/HAI2021/blob/main/HAIcon(gon).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 데이터셋 준비

## 1-1. 코랩 사용을 위한 드라이브 마운트

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

## 1-2. Import library, install Evaluate Package

In [2]:
# 최종 Evaluate Package 설치
!pip install ./gdrive/MyDrive/멋사_study/HAICon2021/HAICon2021_dataset/eTaPR-21.8.2-py3-none-any.whl

Processing ./gdrive/MyDrive/멋사_study/HAICon2021/HAICon2021_dataset/eTaPR-21.8.2-py3-none-any.whl
Installing collected packages: eTaPR
Successfully installed eTaPR-21.8.2

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import time

from keras.models import Model, Sequential, load_model
import keras
from keras import optimizers
from keras.layers import Input,Bidirectional ,LSTM, Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from keras.callbacks import EarlyStopping, ModelCheckpoint

from pathlib import Path
from datetime import timedelta
import dateutil
from tqdm.notebook import trange
from TaPR_pkg import etapr

## 1-3. 경로에서 리스트 형태로 데이터 셋 불러오기
- List Comprehension으로 경로에 데이터셋 불러오며(glob으로 모든 csv까지) 오름차순 정렬

- 간단한 코드로 여러 파일을 깔끔하게 리스트 형태로 불러왔음

In [4]:
# Data Path Load
TRAIN_DATASET = sorted([x for x in Path("./gdrive/MyDrive/멋사_study/HAICon2021/HAICon2021_dataset/train").glob("*.csv")]) 
TEST_DATASET = sorted([x for x in Path("./gdrive/MyDrive/멋사_study/HAICon2021/HAICon2021_dataset/test").glob("*.csv")]) 
VALIDATION_DATASET = sorted([x for x in Path("./gdrive/MyDrive/멋사_study/HAICon2021/HAICon2021_dataset/validation").glob("*.csv")])

## 1-4. 데이터셋 함수화

In [5]:
# read csv 함수 만들기
def dataframe_from_csv(target):
    return pd.read_csv(target)

# data별 csv파일이 여러개이므로 concat을 활용하여 세로로 함수 생성
def dataframe_from_csvs(targets):
    return pd.concat([dataframe_from_csv(x) for x in targets])

## 1-5. Train dataset 불러오기

In [6]:
# Train dataset load

# train dataset을 리스트로 묶은 형태(앞서 read할때 comprehension으로 list형태로 변수에 담아놨음)

# train 1 22만
# train 2 25만
# train 3 45만

# 모든 데이터 호출됨
TRAIN_DF_RAW = dataframe_from_csvs(TRAIN_DATASET) 
TRAIN_DF_RAW

                  timestamp     C01  C02       C03  ...         C83   C84  C85   C86
0       2021-07-11 10:00:00 -2.2642    0  12.26196  ...  1014.79321  12.0   50  3506
1       2021-07-11 10:00:01 -2.4923    0  12.26196  ...  1014.79321  12.0   50  3493
2       2021-07-11 10:00:02 -2.8460    0  12.26196  ...  1014.79321  12.0   50  3490
3       2021-07-11 10:00:03 -2.1235    0  12.26196  ...  1014.79321  12.0   50  3525
4       2021-07-11 10:00:04 -2.9074    0  12.26196  ...  1014.79321  12.0   50  3503
...                     ...     ...  ...       ...  ...         ...   ...  ...   ...
259195  2021-08-09 08:59:56 -2.0065    0  12.26196  ...   986.05908  12.0   50   136
259196  2021-08-09 08:59:57 -2.2101    0  12.26196  ...   986.05908  12.0   50    89
259197  2021-08-09 08:59:58 -2.3325    0  12.26196  ...   986.05908  12.0   50    90
259198  2021-08-09 08:59:59 -2.3049    0  12.26196  ...   986.05908  12.0   50    74
259199  2021-08-09 09:00:00 -2.2011    0  12.26196  ...   986.05908  12.0   50   101

[1004402 rows x 87 columns]

In [9]:
RAW_TRAIN = dataframe_from_csvs(TRAIN_DATASET) # timestamp,C01~C86
RAW_VALIDATION = dataframe_from_csvs(VALIDATION_DATASET) # timestamp,C01~C86, attack
RAW_TEST = dataframe_from_csvs(TEST_DATASET) # timestamp,C01~C86

In [15]:
# 칼럼명 변수화

TIMESTAMP_FIELD = "timestamp" 
IDSTAMP_FIELD = 'id' 
ATTACK_FIELD = "attack"

USEFUL_COLS = RAW_TRAIN.columns.drop(TIMESTAMP_FIELD)

USEFUL_COLS = USEFUL_COLS.drop(DROP_COLS)
# USEFUL_COLS
DROP_COLS

[]

In [14]:
# 무의미한 칼럼을 없애지않고 0으로 둠
# train으로  normalize -> drop칼럼 들어감 -> 이후 
# Min-Max Regularization
DROP_COLS = []

def normalize(raw):
    ndf = raw.copy()
    for c in raw.columns:
        #min-max가 0인경우에는 무의미한 col으로 생각하고, 0으로 채워줌
        if raw_train[useful_cols].min()[c] == raw_train[useful_cols].max()[c]:
            ndf[c] = raw[c] - raw_train[useful_cols].min()[c]
            DROP_COLS.append(c)
        else:
            ndf[c] = (raw[c] - raw_train[useful_cols].min()[c]) / (raw_train[useful_cols].max()[c] - raw_train[useful_cols].min()[c])
    return ndf

In [27]:
# min_max reg를 진행하고, boundary인 [0,1] 이외의 값이 존재하는지 체크하는 함수
# train data에 대해서는, Reguralizaion 제대로 됐는지 체크
def boundary_check(df):
    x = np.array(df, dtype=np.float32)
    return np.any(x > 1.0), np.any(x < 0), np.any(np.isnan(x))